{% for p in posts.items %}
	<div class="post">
		<h1 class="pTitle">
			<a href="{{ path('_post', {id:p.id}) }}">{{ p.title }}</a>
			<span class="pDate">{{ p.date }}
				{% if currentAdmin %}<a href="{{ path('_admin_post_edit', {id:p.id}) }}?back={{ getRequestUri() }}"><b class="icon-pencil icon-white"></b> Редактировать</a>{% endif %}
			</span>
		</h1>
		<div class="pContent">
			{{ p.text|replace({'%readMoreLink%': path('_post', {id:p.id}), '%readMoreLinkText%': 'Читать дальше »'})|raw }}
		</div>
		{% if p.categories|length %}
			<div class="pRubs">
				Рубрики:
				{% for c in p.categories %}
					<a href="{{ path('_category', {id:c.id}) }}">{{ c.name }}</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
			</div>
		{% endif %}
		<div class="pComments">
			{% if not p.commentsCount %}
				Комментариев пока нет, <a href="{{ path('_post', {id:p.id}) }}#postComment">оставьте первый комментарий</a>
			{% else %}
				У заметки <a href="{{ path('_post', {id:p.id}) }}#comments">{{ p.commentsCount }}</a>
				{{ p.commentsCount|plural('комментарий', 'комментария', 'комментариев') }}.
				<a href="{{ path('_post', {id:p.id}) }}#postComment">Оставить комментарий</a>.
			{% endif %}
		</div>
	</div>
{% endfor %}

{% include 'BaseBundle/Views/paginator.twig' with {pages:posts.pages} %}