<!DOCTYPE html>
<html>
<head>
	<title>{% if title %}{{ title }} - {% endif %}{{ header.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	{% block styles %}
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'/>
		<link rel="stylesheet" type="text/css" href="{{ asset('base/bootstrap/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('base/fancybox/source/jquery.fancybox.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('base/css/base.css') }}" />
	{% endblock %}
	{% block scripts %}
		<script type="text/javascript" src="{{ asset('base/js/jquery.js') }}"></script>
		<script type="text/javascript" src="{{ asset('base/bootstrap/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('base/fancybox/source/jquery.fancybox.js') }}"></script>
		<script type="text/javascript" src="{{ asset('base/js/base.js') }}"></script>
		<script type="text/javascript" src="{{ asset('base/js/adaptive.js') }}"></script>
	{% endblock %}
</head>

<body>

<div id="menu">
	<div class="mInner">
		<ul>
			<li><a href="#wrapper"><b class="glyphicon glyphicon-hand-up"></b> </a></li>

			<li class="dropdown catsLi"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="glyphicon glyphicon-tags"></b>
					<select>{% for c in header.categories %}<option value="{{ path('_category', {id:c.getId()}) }}">{{ c.getName() }} ({{ c.postsCount }})</option>{% endfor %}</select>
					Рубрики <b class="caret"></b>
				</a>
				<ul class="dropdown-menu categoriesMenu">
					{% for c in header.categories %}
						<li><a href="{{ path('_category', {id:c.getId()}) }}">{{ c.getName() }}{% if c.postsCount %} ({{ c.postsCount }}){% endif %}</a></li>
					{% endfor %}
				</ul>
			</li>

			<li><a href="{{ path('_comments') }}"><b class="glyphicon glyphicon-comment"></b>Комменты</a></li>

			{% if menu %}
				{% for item in menu %}
					<li {% if item.noLink %}class="dropdown"{% endif %}><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ item.title }}{% if item.noLink %} <b class="caret"></b>{% endif %}</a>
						{% if item.items %}
							<ul class="dropdown-menu">
								{% for route, item in item.items %}
									<li><a href="{{ item.link }}">{{ item.title }}</a></li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			{% endif %}

			{% if currentAdmin %}<li><a href="{{ path('_admin') }}">Админка</a></li>{% endif %}
		</ul>

		<form class="navbar-form navbar-right" role="search" action="/">
			<div class="form-group">
				<input type="text" class="form-control input-sm" name="search" required="1" placeholder="Поиск по блогу">
			</div>
		</form>
	</div>
</div>

<div id="wrapper">
	<div id="header">
		<span class="logo"><a class="logoA" href="/">{{ header.title }}</a>{% if header.motto %} <span class="motto">{{ header.motto|raw }}</span>{% endif %}</span>
		<div class="socIcons">
			<a class="rss" href="{{ path('_rss') }}" rel="nofollow" title="RSS"></a>
			<a class="twitter" target="_blank" rel="nofollow" href="{{ soc.twitter }}" title="Мой аккаунт в Twitter"></a>
			<a class="vk" target="_blank" rel="nofollow" href="{{ soc.vk }}" title="Мой аккаунт Вконтакте"></a>
			<a class="gmail" target="_blank" rel="nofollow" href="mailto:{{ soc.webmaster }}" title="Мой электронная почта"></a>
		</div>
	</div>
	<div id="middleDiv">
		<div id="content">
			{% if alerts %}
				{% for a in alerts %}
					<div class="alert alert-{{ a.type }} alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						{{ a.text }}
					</div>
				{% endfor %}
			{% endif %}

			{% block title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
			{% block content %}{% endblock %}
		</div>
	</div>
	<div id="footer">
		<div class="counters">{{ footer.counters|raw }}</div>
		<div class="copyright">{{ footer.copyright|raw }}</div>
	</div>
</div>
</body>
</html>